<h3>Below, you find a list of people in {{city}} that already support our cause</h3>

<ul>
    {{#each info}}
        <p>💪{{this.first}} {{this.last}} {{#if this.age}}({{this.age}}){{/if}}</p>
    {{/each}}
</ul>
