<h3>Please login</h3>

<form class="login" action="/login" method="post">
    <input type="input" name="emailLog" value="" placeholder ="E-mail">
    <input type="password" name="pwLog" value="" placeholder ="Password">
    <button type="submit" formmethod="POST">Log in</button>
</form>
