<div class="imgLogin">

</div>


    <div class="textLogin">
        <h3>Please login</h3>


        <form class="login" action="/login" method="post">
            <div class="column">
                <input type="input" name="emailLog" value="" placeholder ="">
                <h5>E-Mail</h5>
                <input type="password" name="pwLog" value="" placeholder ="">
                <h5>Password</h5>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button type="submit" formmethod="POST" class ="button">Log in</button>
            </div>
        </form>

        {{error}}
    </div>
