<h3>Sign this petition, in order for Arnold to be able to be the next president of the United States</h3>

<img height = "200px" width = "300px" src = "/layout_arnold.jpg">

<p>Please sign below:</p>
<form action="/petition" method="POST">
        <div class="names column">
            <input id = "hidden" type= "hidden" name="signature" value="" >
        </div>
        <div class="canvas-div">
            <canvas width="400" height ="100"></canvas>
        </div>
        <button type="submit" formmethod="POST">Submit</button>
</form>
