<h3>Please tell us a little bit more about yourself.</h3>

<form class="profile" action="/profile" method="post">
    <div class="column">
        <input type="input" name="ageProfile" value="" placeholder ="Age (optional)">
        <input type="input" name="cityProfile" value="" placeholder ="City (optional)">
        <input type="input" name="urlProfile" value="" placeholder ="Webiste/Social Media (optional)">
        <button type="submit" formmethod="POST">Continue</button>
    </div>
</form>
