<h1>In today times, stong leadership is greatly missed in many places around the world. Who could be a better strong leader of the free world than the strongest(?!) man in history: Arnold Schwarzenegger! Sign up here and help us make sure that this will happen.</h1>

<form class="register" action="/register" method="post">
    <input type="input" name="firstReg" value="" placeholder ="First Name">
    <input type="input" name="lastReg" value="" placeholder ="Last Name">
    <input type="input" name="emailReg" value="" placeholder ="E-mail">
    <input type="password" name="pwReg" value="" placeholder ="Password">
    <button type="submit" formmethod="POST">Sign up</button>
</form>

<h4>If you already are a member, <a href="/login">Login</a></h4>

<img src="arnold-strong.jpg" alt="" id = "arnold-strong">
