<div id="register">


<div class="textReg">

        <h1>TODAYS PROBLEMS REQUIRE STRONG LEADERSHIP</h1>

        <h2>WHO WOULD BE A BETTER STRONG LEADER OF THE FREE WORLD THAN THE STRONGEST MAN IN HISTROY: <div class="highlight">
            ARNOLD SCHWARZENEGGER
        </div></h2>

        <form class="register" action="/register" method="post">
            <h3>Sign up and help us make sure it will happen</h3>
            <div class="column">
                <input type="input" name="firstReg" value="" placeholder ="">
                <h5>First Name</h5>
                <input type="input" name="lastReg" value="" placeholder ="">
                    <h5>Last Name</h5>
                <input type="input" name="emailReg" value="" placeholder ="">
                    <h5>E-Mail</h5>
                <input type="password" name="pwReg" value="" placeholder ="">
                    <h5>Password</h5>
                <button type="submit" formmethod="POST">Sign up</button>
            </div>
        </form>





    <h4>If you already are a member, <a href="/login" class="highlight" id = "login">Login</a></h4>
</div>

<img src="arnoldForPresident.jpg" alt="" id = "imgReg">


</div>
