<h3>Thank you for signing this petition. As a reward you get to play this amazing connect four game.</h3>

<img height = "250px" width = "300px" src = "../Thank_you.jpg">

<img src="{{#image}}{{sig}}{{/image}}" alt="">

<a href="./signers"><p>{{#signatures}}{{count}}{{/signatures}} have signed this petition</p></a>

<a href="/profile/edit"><p>Edit your profile</p></a>

<a href="/delete"><p>Delete your signature</p></a>
