body {
    background-color: yellow;
}


.input-div {
    display: flex;
    flex-direction: column;
}

.names {
    display: flex;
    flex-grow: row;
}

input {
    width: 100px;
}

button {
    width: 100px;
}

canvas {
    border: 1px dashed black;
}

#arnold-strong {
    margin-top: 10px; 
    width: 300px;
    height: 350px;
}
