@font-face {
    font-family: 'terminator_real_nfiregular';
    src: url('terminator-webfont.woff2') format('woff2'),
         url('terminator-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Lato;
    color: white;
    font-weight: lighter;
}

body {
    /*background-image: url(arnoldForPresident.jpg);*/
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

h1 {
    font-size: 25px;
}

h2 {
    margin-top: 50px;
}

h4 {
    position: absolute;
    bottom: 5px;
    right: 50%;
}

h5 {
    margin: 1px;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
}

a:hover {
    font-size: 18px;
    cursor: pointer;
}


input {
    width: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
}

input, select, textarea{
    color: black;
}

button {
    margin-top: 10px;
    width: 100px;
}

button:hover {
    cursor: pointer;
}

canvas {
    border: 2px double white;
}

#register {
    display: flex;
    flex-direction: row;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.textReg {
    width: 50%;
    margin-top: 5%;
    margin-left: 5px;
    margin-right: 5px;
}

.overlay {
    background-color: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

#overlaySigned{
    opacity: 0.7;
}

.backgroundImg {
    height: 100%;
    width: 130%;
}

#backgroundSigned {
    width: 110%;
}

.main {
    font-weight: bold;
    top: 15%;
    left: 15%;
    position: absolute;
    z-index: 100;
}

#mainSigned {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
}

#sig {
    border-style: double;
    background-color: black;
}

.highlight {
    font-family: 'terminator_real_nfiregular';
    margin-top: 10px;
    font-size: 25px;
    color: #E14646;
    font-weight: bold;
}

#login {
    font-size: inherit;
    color: #6B9AFF;
}

.textLogin {
    height: 50%;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}

.imgLogin {
    background-image: url(arnold-login.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
}

.button {
    background-color: white;
    font-family: 'terminator_real_nfiregular';
    color: #E14646;
    font-weight: normal;
    border-radius: 30px;
    width: 150px;
    height: 40px;;
}



#imgReg {
    width: 50%;
}



.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.names {
    display: flex;
    flex-grow: row;
}

#arnold-strong {
    margin-top: 10px;
    width: 300px;
    height: 350px;
}
