@font-face {
    font-family: 'terminator_real_nfiregular';
    src: url('terminator-webfont.woff2') format('woff2'),
         url('terminator-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Lato;
    color: white;
    font-weight: lighter;
}

body {
    /*background-image: url(arnoldForPresident.jpg);*/
    background-size: cover;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#register {
    display: flex;
    flex-direction: row;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.textReg {
    width: 50%;
    margin-top: 5%;
    margin-left: 5px;
    margin-right: 5px;
}

.highlight {
    font-family: 'terminator_real_nfiregular';
    margin-top: 10px;
    font-size: 25px;
    color: #E14646;
    font-weight: bold;
}

#login {
    font-size: inherit;
    color: #6B9AFF;
}

.imgLogin {
    background-image: url(arnold-login.jpg);
    background-size: cover;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
}

#imgReg {
    width: 50%;
}

h1 {
    font-size: 25px;
}

h2 {
    margin-top: 50px;
}

h4 {
    position: absolute;
    bottom: 5px;
    right: 50%;
}

h5 {
    margin: 1px;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
}

a:hover {
    font-size: 18px;
}


input {
    width: 200px;
    margin-top: 2px;
    margin-bottom: 2px;
}

input, select, textarea{
    color: black;
}

button {
    margin-top: 10px;
    width: 100px;
}

canvas {
    border: 2px double white;
}

.column {
    display: flex;
    flex-direction: column;
}

.names {
    display: flex;
    flex-grow: row;
}

#arnold-strong {
    margin-top: 10px;
    width: 300px;
    height: 350px;
}
